.fondo-form {
    background-color: $mainBackgroundColor;
    padding-left: 70px;
    padding-right: 70px;

    .form-l {
        background-color: $mainBackgroundColor;
        color: $mainColorFonts;
        font-weight: 600;

        .form-p {
            background-color: $mainBackgroundColor;
        }
    }

    .form-button {
        color: #630a10;
        transition: all 0.5s ease-out;

        &:hover {
            scale: 115%;
        }
    }

    .form-img {
        padding-bottom: 30px;
        width: 620px;
        height: 380px;
        transition: all 0.5s ease-out;

        &:hover {
            scale: 105%;
        }
    }
}