.fondo-sn {
    background-color: map-get($backgroundColor, mainBackgroundColor);

    .titulo-sn {
        color: map-get($colorFonts, mainColorFonts);
        background-color: map-get($backgroundColor, mainBackgroundColor);
        font-family: 'Lobster', cursive;
        padding: 30px;
        text-align: center;
    }

    .text-sn {
        padding-top: 100px;
        padding-left: 150px;
        font-size: 20px;
        color: map-get($colorFonts, mainColorFonts);
    }

    .img-sn1 {
        width: 460px;
        height: 306px;
        transition: all 0.4s ease-out;

        &:hover {
            scale: 110%;
        }
    }

    .img-sn2 {
        width: 460px;
        height: 306px;
        transition: all 0.4s ease-out;

        &:hover {
            scale: 110%;
        }
    }
}



@media screen and (max-width:767px) {
    .fondo-sn {

        .text-sn {
            padding-top: 0px;
            padding-left: 0px;
            font-size: 16px;
        }
        .img-sn1 {
            transition: all 0.4s ease-out;
    
            &:hover {
                scale: 100%;
            }
        }
    
        .img-sn2 {
            transition: all 0.4s ease-out;
    
            &:hover {
                scale: 100%;
            }
        }
    }
}