.titulo-sn {
    color: map-get($colorFonts, mainColorFonts);
    background-color: map-get($backgroundColor, mainBackgroundColor);
    padding: 30px;
    text-align: center;
}
.fondo-sn {
    background-color: aquamarine;
    .img-sn1 {
        width: 460px;
        height: 306px;
        margin: 30px;
        margin-top: 70px;
    }

    .text-sn {
        padding-left: 100px;
        padding-right: 100px;
        }

    .img-sn2 {
        width: 460px;
        height: 306px;
        margin: 30px;
        margin-bottom: 70px;
    }
    
}