.fondo-form {
    background-color: map-get($backgroundColor, mainBackgroundColor);
    padding-left: 70px;
    padding-right: 70px;

    .titulo-c{
        color: map-get($colorFonts, mainColorFonts);
        padding-bottom: 30px;
        text-align: center;
    }

    .form-l {
        background-color: map-get($backgroundColor, mainBackgroundColor);
        color: map-get($colorFonts, mainColorFonts);
        font-weight: 600;

        .form-p {
            background-color: map-get($backgroundColor, mainBackgroundColor);
        }
    }

    .form-button {
        color: #630a10;
        transition: all 0.5s ease-out;

        &:hover {
            scale: 115%;
        }
    }

    .form-img {
        padding-bottom: 30px;
        width: 620px;
        height: 380px;
        transition: all 0.5s ease-out;

        &:hover {
            scale: 105%;
        }
    }
}