$backgroundColor: (
    navBackgroundColor: #911f27,
    footerBackgroundColor: #911f27,
    mainBackgroundColor: #fcf0cb,
);

$colorFonts: (
    navColorFonts: #fcf0cb,
    footerColorFonts: #fcf0cb,
    esloganColorFonts: #630a10,
    mainColorFonts: #630a10,
    hoverColorFonts: #cab164,
);

