$backgroundColor: (
    navBackgroundColor: #911f27,
    footerBackgroundColor: #911f27,
    mainBackgroundColor: #fcf0cb,
    cardBackgroundColor: #911f27
);

$colorFonts: (
    navColorFonts: #fcf0cb,
    footerColorFonts: #fcf0cb,
    esloganColorFonts: #630a10,
    esloganColorFontsMobile: #fcf0cb,
    mainColorFonts: #630a10,
    hoverColorFonts: #cab164,
    cardColorFonts: #fcf0cb,
);

