.fondo-nav {
    background-color: map-get($backgroundColor, navBackgroundColor);

    .logo-nav {
        width: 200px;
        height: 100px;
    }

    .navbar-nav {
        color: map-get($colorFonts, navColorFonts);

        .nav-item {
            display: flex;
            justify-content: flex-end;

            .nav-h {
                color: map-get($colorFonts, navColorFonts);
                transition: color 0.5s ease-in, font-size 1.0s;

                &:hover {
                    color:map-get($colorFonts, hoverColorFonts);
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .logo-nav {
        width: 100px;
        height: 70px;
    }
}