* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/*INICIO*/
.imagen__de__fondo {
    height: 1000px;
    background-image: url(../images/pastel-chocolate-con-trozos-chocolat-y-bombon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen__de__fondo div {
    text-align: right;
    padding-top: 500px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-right: 50px;
    color: #630a10;
}


.grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 120px 1fr 130px;
}

/*HEADER*/
.header {
    grid-area: header;
    background-color: #911f27;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__titulo {
    width: 200px;
    height: 100px;
}

.header__nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__nav ul li {
    margin: 0;
    padding: 10px;
}

.header__nav ul li a {
    color: #fcf0cb;
    text-decoration: none;
    transition: color 0.5s ease-in, font-size 1.0s ;
}

.header__nav ul li a:hover {
    color: #cab164;
    font-size: 18px;
}

.header__nav ul li a:active {
    color: #630a10;
}


/*titulos*/
.titulos {
    color: #630a10;
    font-family: 'Lobster', cursive;
    font-weight: 560;
    text-align: center;
}


/*SOBRE NOSOTROS*/
.fondosn {
    display: grid;
    grid-template-areas:
        "section""section";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fcf0cb;
    text-align: center;
}


.img__sn {
    object-fit: cover;
    padding: 15px;
    padding-left: 10px;

}

.fondo__sntexto p {
    padding: 100px;
}

#imagen__sn1 {
    padding-top: 30px;
}

#imagen__sn2 {
    padding-bottom: 30px;
}


/*FOOTER*/
.footer {
    grid-area: footer;
    background-color: #911f27;
    border-top: 0px solid;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #fcf0cb;
    text-decoration-color: #fcf0cb;
    list-style-type: none;
}

.footer_nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.footer__list {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__list li a {
    text-decoration: none;
    /*agrego el text-decoration:none en el li a pero en la navbar si lo toma y aca no, xq?*/
}

#redes {
    display: inline-block;
    padding: 10px;
}


/*PRODUCTOS continuar y o rehacerlo mas lindo*/
.fondop {
    display: grid;
    grid-template-areas:
        "ptitulo ptitulo"
        "pbase1 pbase2"
        "pbase3 pbase3";
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #fcf0cb;
    align-items: center;
}

.ptitulo {
    grid-area: ptitulo;
    padding-top: 50px;
}

.pbase1 {
    grid-area: pbase1;
}
.pbase2 {
    grid-area: pbase2;
}
.pbase3 {
    grid-area: pbase3;
}

#imagen__p1 {
    padding-left: 250px;
}
#imagen__p2 {
    padding-left: 250px;
}
#imagen__p3 {
    padding-left: 600px;
}



/*GALERIA*/
.fondog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    background-color: #fcf0cb;
}

.img__g {
    width: 310px;
    height: 430px;
    object-fit: cover;
    transition: all 0.5s ease-out;
}

.img__g:hover {
    scale: 110%;
}


.gtitulo {
    text-align: center;
    padding: 25px;
    background-color: #fcf0cb;

}

/*CONTACTO*/
.fondoc {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    background: #fcf0cb;
}

.form {
    display: grid;
    grid-template-areas:
    "form__c" "form__map";
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 960px;
    margin: auto;
    width: 100%;
    background: #911f27;
    padding: 40px;
    font-size: 20px;
    color: #fcf0cb;

}

#tituloc {
    padding: 30px;
    font-size: 40px;
}





@media screen and (max-width:767px) {
    /*inicio*/
    .grid {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 120px 1fr 130px;
    }

    .header__nav ul {
        display: none;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .imagen__de__fondo {
        height: 750px;
        background-image: url(../images/pastel-chocolate-con-trozos-chocolat-y-bombon.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .imagen__de__fondo div {
        text-align: right;
        padding-top: 500px;
        font-family: 'Lobster', cursive;
        font-size: 30px;
        margin-right: 40px;
        color: #fcf0cb;
    }

    /*footer*/
    .footer {
        grid-area: footer;
        background-color: #911f27;
        border-top: 0px solid;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        color: #fcf0cb;
        text-decoration-color: #fcf0cb;
        list-style-type: none;
        font-size: 12px;
    }

    #redes {
        display: inline-block;
        padding: 03px;
    }

    /*sobre nosotros*/
    .fondosn {
        display: grid;
        grid-template-areas:
            "section"
            "section";
        grid-template-columns: 1fr;
        background-color: #fcf0cb;
        flex-direction: column;
        
    }

    .fondo__sntexto p {
        padding: 05px;
        text-align: center;
    }

    #imagen__sn1 {
        padding: 1px;
        width: 100%;
    }

    #imagen__sn2 {
        padding: 1px;
    }

    /*productos*/
    .fondop {
        display: grid;
        grid-template-areas:
            "ptitulo"
            "pbase1"
            "pbase2"
            "pbase3";
        grid-template-columns: 1fr;
        background-color: #fcf0cb;
        align-items: cener;
        flex-direction: column;

        margin: 0;
        padding: 0;
    }


    .ptitulo {
            grid-area: ptitulo;
            padding-top: 05px;
            -webkit-text-size: 10px;
        }

        .pbase1 {
            grid-area: pbase1;
            padding-top: 10px;
        }
        
        .pbase2 {
            grid-area: pbase2;
            padding-top: 10px;
        }
        
        .pbase3 {
            grid-area: pbase3;
            background-color: aa;
            padding-top: 15px;
        }
        
        #imagen__p1 {
            padding-left: 0px;
        }
        
        #imagen__p2 {
            padding-left: 0px;
        }
        
        #imagen__p3 {
            padding-left: 0px;
            



    }




    /*galeria*/
    .fondog {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20px;
        background-color: #fcf0cb;
    }
    
    .img__g {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .gtitulo {
        text-align: center;
        padding-left: 01px;
        background-color: #fcf0cb;
        font-size: 12px;
    }



}