/*NAVBAR*/
.fondo-nav {
    background-color: #911f27;
}

.logo-nav {
    width: 200px;
    height: 100px;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav  {
    color: #fcf0cb;
}

.nav-h {
    color: #fcf0cb;
    transition: color 0.5s ease-in, font-size 1.0s;
}

.nav-h:hover {
    color: #cab164;
    font-size: 18px;
}


/*INICIO*/
.imagen__de__fondo {
    height: 1000px;
    background-image: url(../images/pastel-chocolate-con-trozos-chocolat-y-bombon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen__de__fondo div {
    text-align: right;
    padding-top: 500px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-right: 50px;
    color: #630a10;
}


/*FOOTER*/
.fondo-footer {
    background-color: #911f27;
    color: #fcf0cb;
}

.nav-t {
    text-align: right;
}

.nav-li {
    color: #fcf0cb; 
    transition: color 0.5s ease-in, font-size 1.0s;
}

.nav-li:hover {
    color: #cab164;
    font-size: 18px;
}

.img-f {
    transition: all 0.5s ease-out;
}

.img-f:hover {
    scale: 115%;
}

/*CONTACTO*/
.fondo-form {
    background-color: #fcf0cb;
    padding-left: 70px;
    padding-right: 70px;
}

.form-l {
    background-color: #fcf0cb;
    color: #630a10;
    font-weight: 600
}

.form-p {
    background-color: #fcf0cb;
}

.form-button {
    color: #630a10;
    transition: all 0.5s ease-out;
}

.form-button:hover {
    scale: 115%;
}

.form-img {
    padding-bottom: 30px;
    width: 620px;
    height:380px;
    transition: all 0.5s ease-out;
}

.form-img:hover {
    scale: 105%;
}



@media screen and (max-width:767px) {

     /*footer*/
    .nav-li {
        padding: 0;
        margin: 0;
        font-size: 10px;

     }
    .nav-ti {
        padding: 0;
        margin: 0;
        font-size: 12px;
     }

     .form-img {
        max-width: 100%;
     }
}