.fondo-nav {
  background-color: #911f27;
}
.fondo-nav .logo-nav {
  width: 200px;
  height: 100px;
}
.fondo-nav .navbar-nav {
  color: #fcf0cb;
}
.fondo-nav .navbar-nav .nav-item {
  display: flex;
  justify-content: flex-end;
}
.fondo-nav .navbar-nav .nav-item .nav-h {
  color: #fcf0cb;
  transition: color 0.5s ease-in, font-size 1s;
}
.fondo-nav .navbar-nav .nav-item .nav-h:hover {
  color: #cab164;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fondo-nav .logo-nav {
    width: 150px;
    height: 80px;
  }
}
.imagen__de__fondo {
  height: 1000px;
  background-image: url(../images/pastel-chocolate-con-trozos-chocolat-y-bombon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.imagen__de__fondo #eslogan {
  text-align: right;
  padding-top: 500px;
  font-family: "Lobster", cursive;
  font-size: 50px;
  margin-right: 50px;
  color: #630a10;
}

@media screen and (max-width: 767px) {
  .imagen__de__fondo #eslogan {
    padding-top: 700px;
    font-size: 40px;
    margin-right: 0px;
    text-align: end;
    color: #fcf0cb;
  }
}
.fondo-footer {
  background-color: #911f27;
  color: #fcf0cb;
}
.fondo-footer .nav-lib {
  color: #fcf0cb;
  transition: color 0.5s ease-in, font-size 1s;
}
.fondo-footer .nav-lib:hover {
  font-size: 18px;
}
.fondo-footer .img-f {
  transition: all 0.4s ease-out;
}
.fondo-footer .img-f:hover {
  scale: 125%;
}

@media screen and (max-width: 767px) {
  .fondo-footer .nav-lib {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  .fondo-footer .nav-ti {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}
.fondo-sn {
  background-color: #fcf0cb;
}
.fondo-sn .titulo-sn {
  color: #630a10;
  background-color: #fcf0cb;
  font-family: "Lobster", cursive;
  padding: 30px;
  text-align: center;
}
.fondo-sn .text-sn {
  padding-top: 100px;
  padding-left: 150px;
  font-size: 20px;
  color: #630a10;
}
.fondo-sn .img-sn1 {
  width: 460px;
  height: 306px;
  transition: all 0.4s ease-out;
}
.fondo-sn .img-sn1:hover {
  scale: 110%;
}
.fondo-sn .img-sn2 {
  width: 460px;
  height: 306px;
  transition: all 0.4s ease-out;
}
.fondo-sn .img-sn2:hover {
  scale: 110%;
}

@media screen and (max-width: 767px) {
  .fondo-sn .text-sn {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  .fondo-sn .img-sn1 {
    transition: all 0.4s ease-out;
  }
  .fondo-sn .img-sn1:hover {
    scale: 100%;
  }
  .fondo-sn .img-sn2 {
    transition: all 0.4s ease-out;
  }
  .fondo-sn .img-sn2:hover {
    scale: 100%;
  }
}
.titulo-p {
  color: #630a10;
  background-color: #fcf0cb;
  font-family: "Lobster", cursive;
  padding: 30px;
  text-align: center;
}

.fondo-formp {
  background-color: #fcf0cb;
}
.fondo-formp .card-pa {
  width: 390px;
  height: 450px;
  border: solid #911f27;
  background-color: #911f27;
  transition: all 0.5s ease-out;
}
.fondo-formp .card-pa:hover {
  scale: 105%;
}
.fondo-formp .card-pb {
  padding-bottom: 80px;
}
.fondo-formp .card-t {
  text-align: center;
  color: #fcf0cb;
}

@media screen and (max-width: 767px) {
  .fondo-formp .card-pa {
    transition: all 0.5s ease-out;
  }
  .fondo-formp .card-pa:hover {
    scale: 100%;
  }
}
.fondo-g {
  background-color: #fcf0cb;
}
.fondo-g .titulo-g {
  color: #630a10;
  font-family: "Lobster", cursive;
  padding: 30px;
  text-align: center;
}
.fondo-g .img-g {
  width: 400px;
  height: 500px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: all 0.4s ease-out;
}
.fondo-g .img-g:hover {
  scale: 115%;
}

@media screen and (max-width: 767px) {
  .fondo-g .img-g {
    transition: all 0.4s ease-out;
  }
  .fondo-g .img-g:hover {
    scale: 100%;
  }
}
.fondo-form {
  background-color: #fcf0cb;
  padding: 70px;
}
.fondo-form .titulo-c {
  color: #630a10;
  text-align: center;
  font-family: "Lobster", cursive;
}
.fondo-form .form-l {
  background-color: #fcf0cb;
  color: #630a10;
  font-family: "Lobster", cursive;
  font-weight: 500;
  align-items: center;
  font-size: 20px;
}
.fondo-form .form-l .form-p {
  background-color: #fcf0cb;
  font-family: "Roboto", sans-serif;
}
.fondo-form .form-button {
  color: #630a10;
  transition: all 0.3s ease-out;
}
.fondo-form .form-button:hover {
  scale: 115%;
}
.fondo-form .form-img {
  width: 620px;
  height: 380px;
  transition: all 0.5s ease-out;
}
.fondo-form .form-img:hover {
  scale: 105%;
}
.fondo-form .form-t {
  color: #630a10;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Lobster", cursive;
}
.fondo-form .form-d {
  color: #630a10;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  .fondo-form {
    padding: 0px;
  }
  .fondo-form .titulo-c {
    padding-top: 30px;
  }
  .fondo-form .form-img {
    transition: all 0.5s ease-out;
  }
  .fondo-form .form-img:hover {
    scale: 100%;
  }
}/*# sourceMappingURL=styles.css.map */